<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.goharshad.arena.sakoo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.farsitel.bazaar.permission.PAY_THROUGH_BAZAAR" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/application_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_rounded"
        android:supportsRtl="false"
        android:theme="@style/DefaultTheme">
        <activity
            android:name=".Splash"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".FirstLaunchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Purposing"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Support"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Lightner"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".LightnerWords"
            android:parentActivityName=".Lightner"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".CalcPercentage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ShowPercentage"
            android:parentActivityName=".CalcPercentage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Team"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AnswerSheet"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AnswerSetup"
            android:parentActivityName=".AnswerSheet"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".StartExam"
            android:parentActivityName=".AnswerSheet"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".CheckExamWays"
            android:parentActivityName=".AnswerSheet"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".CheckExamStringKey"
            android:parentActivityName=".CheckExamWays"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ShowExamResult"
            android:parentActivityName=".AnswerSheet"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ChartMain"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <receiver
            android:name=".DailyUpdateReciever"
            android:enabled="true" />

        <activity
            android:name=".LightnerBuyCard"
            android:parentActivityName=".LightnerWords"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AddNewWord"
            android:parentActivityName=".Lightner"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Intro"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".LightnerInfo"
            android:parentActivityName=".Lightner"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".GozareshAzmoon"
            android:parentActivityName=".AnswerSheet"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity android:name=".DailyReport"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>